body {
  background-image: url('https://github.com/InfinityPlayz9/infinityplayz-website/blob/main/Assets/4078ff%20(1).png?raw=true');
  background-position: top center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: contain;
}
